<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
        <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css">
        <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css">
    </head>
    <body>



        <div>
            <section class="content">
                <h2>Welcome</h2>
                <div class="row">
                    <div class="col-12">
                        <input id="txtTweet" class="form-control"/>
                        <button id="btnTweet" class="tweet">Tweet</button>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div  id="timeline" class="col-md-12">
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->


                </div><!--/. container-fluid -->
            </section>
            <!-- /.content -->
        </div>









        <script src="/adminlte/plugins/jquery/jquery.min.js"></script>
        <script src="/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>

        <script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <!-- AdminLTE App -->
        <script src="/adminlte/dist/js/adminlte.js"></script>




        <script type="text/javascript">
            var _timeline;
           function getTimeLine() {
                   $.ajax({
                       async: false,
                       type: "Get",
                       dataType: "json",
                       url: '/api/tweet/timeline',
                       contentType: "application/json",
                       success: function (result) {
                           _timeline = result;
                           console.log(result);
                           $('#timeline').empty();
                           $.each(result,function(k,v){
                               var twitter_id = k;
                               $attachmentHtml = '';
                               if(v.mediaEntities!=null){
                                   $.each(v.mediaEntities,function (mv,mk){
                                       $imgHtml = '<img style="max-width: 500px;max-height: 500px;" src="'+mk.mediaURLHttps+'">';
                                       $attachmentHtml = $attachmentHtml + $imgHtml;
                                   })
                               }
                               $('#timeline').append('<div class="card">' +
                                   '    <div class="card-header">' +
                                   '        <img style="float: left;" src="'+v.user.biggerProfileImageURLHttps+'">'+
                                   '        <label class="card-title">'+v.user.name+'</label>' +
                                   '        <label>'+v.createdAt+'</label>'+
                                   '        <div class="card-tools">' +
                                   '          <button type="button" class="btn btn-tool btnRetweet"  tweetId="'+twitter_id+'">' +
                                   '            <i class="fas fa-share-square"></i>' +
                                   '          </button>' +
                                   '          <button type="button" class="btn btn-tool" data-card-widget="collapse">' +
                                   '            <i class="fas fa-minus"></i>' +
                                   '          </button>' +
                                   '          <button type="button" class="btn btn-tool" data-card-widget="remove">' +
                                   '            <i class="fas fa-times"></i>' +
                                   '          </button>' +
                                   '        </div>' +
                                   '    </div>' +
                                   '    <div class="card-body">' +
                                            v.text+$attachmentHtml+
                                   '    </div>' +
                                   '    <div>' +
                                   '        <input class="form-control" tweetId="'+twitter_id+'">'  +
                                   '        <input type="button" class="btnReply" value="Reply"/>'+
                                   '    </div>'+
                                   '</div>');


                           })


                           $('.btnReply').click(function (){
                               var content = $(this).parent().children('.form-control').val();
                               var tweetId = $(this).parent().children('.form-control').attr('tweetId');
                               if(content==""){
                                   alert("Reply content empty.");
                                   return;
                               }

                               $.ajax({
                                   async: false,
                                   type: "Post",
                                   dataType: "json",
                                   url: '/api/tweet/reply',
                                   contentType: "application/json",
                                   data: JSON.stringify({
                                       "content": content,
                                       "tweetId" : tweetId
                                   }),
                                   success: function (result) {
                                       console.log(result);
                                       alert('Success.');
                                       location.reload();
                                   }
                               });
                           });

                           $('.btnRetweet').click(function (){
                               var tweetId = $(this).attr('tweetId');

                               $.ajax({
                                   async: false,
                                   type: "Post",
                                   dataType: "json",
                                   url: '/api/tweet/retweet',
                                   contentType: "application/json",
                                   data: JSON.stringify({
                                       "tweetId" : tweetId
                                   }),
                                   success: function (result) {
                                       console.log(result);
                                       alert('Success.');
                                       location.reload();
                                   }
                               });
                           });
                       }
                   });
           }

           getTimeLine();

           $('#btnTweet').click(function (){
               var txtTweet = $('#txtTweet').val();
               if(txtTweet==""){
                   alert("Pleas input content");
                   return;
               }

               $.ajax({
                   async: false,
                   type: "Post",
                   dataType: "json",
                   url: '/api/tweet/tweet',
                   contentType: "application/json",
                   data: JSON.stringify({
                       "content": txtTweet
                   }),
                   success: function (result) {
                        console.log(result);
                        alert('Success.');
                        location.reload();
                   }
               });
           });


        </script>
    </body>
</html>